* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1323px;
    /* Ensure max-width is 100% */
}

@media (max-width: 1023px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
        max-width: 610px;
    }

    #news_slider_section {
        height: 90vh;
        overflow: hidden;
        position: relative;
    }

    #nav_items {
        display: none;
    }

    .mobile_nav {
        display: block;
    }

    .about_us_section {
        height: fit-content;
        padding: 42px 0px;
    }

    .header {
        padding: 8px 0;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 974px;
    }

    #news_slider_section {
        height: 504px;
        overflow: hidden;
        position: relative;
    }

    #nav_items {
        display: none;
    }

    .mobile_nav {
        display: block;
    }

    .about_us_section {
        height: fit-content;
        padding: 52px 0px;
    }

    .header {
        padding: 12px 0;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }

    #news_slider_section {
        height: 584px;
        overflow: hidden;
        position: relative;
    }

    #nav_items {
        display: flex;
        gap: 12px;
        list-style: none;
        align-items: center;
    }

    #nav_items li a {
        font-size: 14px;
    }

    .about_us_section {
        height: fit-content;
        padding: 62px 0px;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-implementation {
        text-align: right;
    }

    .mobile_nav {
        display: none;
    }

    .header {
        padding: 15px 0;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1323px;
    }

    #nav_items {
        display: flex;
        gap: 20px;
        list-style: none;
        align-items: center;
    }

    #nav_items li a {
        font-size: 16px;
    }

    #news_slider_section {
        height: 584px;
        overflow: hidden;
        position: relative;
    }

    .about_us_section {
        height: 882px;
        padding: 72px 0px;
    }

    .footer-copyright {
        text-align: center;
    }

    .footer-implementation {
        text-align: right;
    }

    .mobile_nav {
        display: none;
    }

    .header {
        padding: 20px 0;
    }

    .company_logo {
        width: 85%;
    }

    #search_div {
        display: flex;
        width: 1032px !important;
    }

    .select_container {
        margin-top: 0 !important;
    }

    .filter_section {
        display: block !important;
    }

    #search_section {
        display: flex !important;
        flex-wrap: wrap !important;
        gap: 20px !important;
        justify-content: space-between !important;
    }

    .pagination-container {
        justify-content: flex-end;
    }

    #job_desc {
        width: 1000px !important;
        padding: 66px 0px !important;
        border-top: 2px solid #93A1BB !important;
    }

    #news_para1 {
        width: 49% !important;
        order: 1 !important;
    }

    #news_image_div {
        width: 49% !important;
        order: 2 !important;
    }

    #job_title_div,
    #applicant_name_div,
    #applicant_email_div,
    #applicant_phone_number_div,
    #phone_country_div,
    #applicant_phone_number_div,
    #country_div {
        width: 49% !important;
    }
}

#job_title_div,
#applicant_name_div,
#applicant_email_div,
#applicant_phone_number_div,
#phone_country_div,
#applicant_phone_number_div,
#country_div {
    width: 100%;
}

#news_para1 {
    width: 100%;
    order: 2;
}

#news_image_div {
    width: 50%;
    order: 1;
}

#job_desc {
    width: 100%;
    padding: 46px 0px;
    border-top: 2px solid #93A1BB;
}

.filter_section {
    display: none;
}

#search_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#search_div {
    display: flex;
    width: 100%;
}

/* Hide the mobile menu by default */
#mobile_menu {
    position: absolute;
    top: 77px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 200px;
    height: 100vh;
    z-index: 999;
}

#mobile_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#mobile_menu ul li {
    margin: 10px 0;
}

#mobile_menu ul li a {
    text-decoration: none;
    font-family: "Encode Sans Condensed", system-ui;
    text-transform: uppercase;
}

.company_logo {
    width: 70%;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner_section {
    background-image: linear-gradient(to right,
            rgba(15, 15, 44, 0.825) 0%,
            rgba(217, 217, 217, 0.25) 50%,
            rgba(15, 15, 44, 0.825) 100%), url('/assets/iau/images/jobs_listings_banner.png');
    height: 784px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(30, 30, 53);
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_section .container {
    position: absolute;
    bottom: 0;
    padding: 80px 0px;
}

.select_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #2e3a59;
    padding-left: 10px;
    position: relative;
}

.custom-label {
    color: #b0b0b0;
    margin-right: 8px;
    font-size: 16px;
}

.custom-select {
    background-color: transparent;
    appearance: none;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 24px;
    outline: none;
}

.custom-select:focus {
    border-color: #4a90e2;
}

.custom-select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}

.select_container::after {
    content: '\25BE';
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: white;
}

.custom-select option {
    background-color: #2e3a59;
    color: white;
}

/* Style for unchecked checkboxes */
.custom-checkbox input[type="checkbox"] {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 1px solid #101423;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

/* Style for checked checkboxes with gradient */
.custom-checkbox input[type="checkbox"]:checked {
    background: linear-gradient(180deg, #2B354E 0%, #101423 100%);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Optional: Checkmark style */
.custom-checkbox input[type="checkbox"]:checked::before {
    content: "\2713";
    font-size: 16px;
    color: white;
    position: absolute;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.divider .text_span {
    font-family: DM Sans, sans-serif;
    font-size: 20px;
    color: #929292;
    font-weight: 700;
    padding: 0 80px;
}

.divider div {
    font-size: 20px;
    color: #929292;
    font-weight: 700;
    padding: 0 20px;
}

.swiper {
    margin: 40px 0px;
    width: 100%;
    height: 499px;
}

.swiper-wrapper {
    width: 100%;
    height: 100%;
}

.swiper-pagination {
    bottom: -30px;
}

.swiper-pagination-bullet {
    background-color: #000 !important;
}

.swiper-pagination-bullet-active {
    background-color: #000 !important;
}

.swiper-slide {
    background: linear-gradient(180deg, #EFE6D2 0%, rgba(239, 230, 210, 0) 100%);
}

.swiper-slide img {
    width: 100%;
    height: 243px;
}

.swiper-slide h4 {
    font-family: "Encode Sans Condensed", system-ui !important;
    color: #101423;
    font-weight: 700;
    font-size: 24px;
}

.swiper-slide p {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #101423;
    line-height: 24px;
    margin-top: 8px;
    min-height: 32px;
}

.about_us_section {
    background-image:
        linear-gradient(to right, rgba(15, 15, 44, 0.825) 0%, rgba(15, 15, 44, 0.25) 50%, rgba(15, 15, 44, 0.825) 100%),
        url('/assets/iau/images/About Us Banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(30, 30, 53);
    width: 100%;
}

.partnerships_section {
    background-color: #FFFBF1;
    padding: 60px 0px;
}

.partners_section {
    padding: 123px 0px;
}

.job_info,
.news_listing,
.news_info,
.job_application,
.profile_section {
    position: relative;
    padding-top: 60px;
}

.bulletin-container {
    display: flex;
    align-items: center;
    /* Align items vertically centered */
    gap: 20px;
    /* Space between each bulletin */
}

.bulletin {
    color: #8092A7;
    font-size: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.disc-bulletin {
    width: 5px;
    height: 5px;
    background-color: #8092A7;
    border-radius: 50%;
    align-self: center;
}

.services_section {
    padding: 72px 0px;
    background-color: #EFE6D2;
}

.first-row::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(67, 73, 85, 0) 0%, #93A1BB 50%, rgba(67, 73, 85, 0.2) 100%);
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
}

.second-row::before,
.second-row::after,
.third-row::before,
.third-row::after,
.fourth-row::before,
.fourth-row::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(67, 73, 85, 0.2) 0%, #93A1BB 50%, rgba(67, 73, 85, 0.1) 100%);
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
}

.second-row::after,
.third-row::after,
.fourth-row::after {
    background: linear-gradient(270deg, rgba(67, 73, 85, 0.2) 0%, #93A1BB 50%, rgba(67, 73, 85, 0.1) 100%);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}

.second-row-last::after,
.third-row-last::after,
.fourth-row-last::after {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(67, 73, 85, 0.1) 0%, #93A1BB 50%, rgba(67, 73, 85, 0.3) 100%);
    width: 1px;
    height: 100%;
    right: 0;
    top: 0;
}

.second-row-last::after,
.third-row-last::after,
.fourth-row-last::after {
    background: linear-gradient(270deg, rgba(67, 73, 85, 0.1) 0%, #93A1BB 50%, rgba(67, 73, 85, 0.3) 100%);
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
}

table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f6f1e7;
    text-align: left;
    font-weight: bold;
}

thead th {
    padding: 12px;
    color: #10142380;
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.03em;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

tbody tr {
    border-bottom: 1px solid #e7dac7;
}

tbody td {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 26.62px;
    letter-spacing: -0.03em;
    padding: 12px;
}

tbody td:nth-child(3) {
    text-align: right;
    font-weight: bold;
}

/* Status colors */
.status-open {
    color: #007bff;
    /* Blue for Open */
}

.status-replied {
    color: #28a745;
    /* Green for Replied */
}

.status-rejected {
    color: #dc3545;
    /* Red for Rejected */
}

.status-hold {
    color: #ffc107;
    /* Yellow for Hold */
}

.status-accepted {
    color: #17a2b8;
    /* Teal for Accepted */
}

.status-dot {
    display: inline-block;
    margin-left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.status-open .status-dot {
    background-color: #007bff;
    /* Blue dot for Open */
}

.status-replied .status-dot {
    background-color: #28a745;
    /* Green dot for Replied */
}

.status-rejected .status-dot {
    background-color: #dc3545;
    /* Red dot for Rejected */
}

.status-hold .status-dot {
    background-color: #ffc107;
    /* Yellow dot for Hold */
}

.status-accepted .status-dot {
    background-color: #17a2b8;
    /* Teal dot for Accepted */
}

#partners_img_grid img {
    width: 60%;
    height: 60%;
}

#projects_grid_img img {
    width: 70%;
    height: 70%;
}

/* Pagination Container */
.pagination-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}

/* Pagination Buttons */
.page-button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f9fa;
    /* Light background */
    color: #007bff;
    /* Blue text */
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover Effect */
.page-button:hover {
    background-color: #007bff;
    color: #fff;
}

/* Active Page Button */
.page-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    font-weight: 700;
}

.page-button.disabled {
    background-color: #eaeaea;
    color: #999;
    cursor: not-allowed;
}

.job-opening,
.news-display {
    transition: transform 0.3s ease, box-shadow 0.1s ease;
}

.job-opening:hover,
.news-display:hover {
    transform: scale(1.02);
    /* Slightly increase the size of the div on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add shadow on hover */
}