{% extends "templates/Base.html" %}
{% block title %}
Privacy Policy and Terms of Use
{% endblock %}
{% block content %}
<section style="background-color: #EFE6D2; padding-top : 4.5rem; padding-bottom : 4.5rem;">
    <div class="container">
        <div class="divider">
            <span class="text_span" style="text-transform: uppercase; font-size: 2rem; font-weight : bold; font-family: 'Encode Sans Condensed', system-ui; color : #3D4667;">
                سياسة الخصوصية و شروط الاستخدام
            </span>
        </div>
        <div style="display:grid;gap:1.5rem;">
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                    الهدف
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p">
                    تُطبق أحكام هذه السياسة وفقًا لسياسات حوكمة البيانات الوطنية الصادرة عن مكتب إدارة البيانات الوطنية ولمتطلبات الهيئة الوطنية للأمن السيبراني المتمثلة في الضوابط الأساسية للأمن السيبراني ونظام حماية البيانات الشخصية ومعيار الآيزو (27001) ومعايير المعهد الوطني للمعايير والتقنية (NIST) وأفضل الممارسات الدولية المعمول بها في المجال.
                </p>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                    قابلية التطبيق ونطاق العمل
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p">
                تنطبق أحكام هذه السياسة على جميع العاملين أو المكلفين الذين يعملون في الجامعة سواء بعقود دائمة أو مؤقتة وبشكل مباشر أو غير مباشر بما في ذلك الموردين والمقاولين الخارجيين وأي شخص لديه صلاحية الوصول الدائم أو المؤقت إلى بيانات الجامعة مهما كان مصدرها أو شكلها أو طبيعتها وإلى أنظمة وأجهزة وقواعد بيانات الجامعة.
                </p>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                    السياسة
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p"
                >هذه السياسة تضع ضوابط الاستخدام والنشر عند الدخول إلى الموقع الإلكتروني (<a href="https://ics.iau.edu.sa/">ics.iau.edu.sa</a>) والمواقع الفرعية الأخرى المملوكة للجامعة وتحت إدارتها، لذا يرجى قراءة سياسة الخصوصية وشروط الاستخدام هذه بعناية قبل البدء باستخدام الموقع.
                </p>
                <p class="privacy_policy_arabic_p" 
                >إن دخولك إلى الموقع واستخدامه مشروط بقبولك لسياسة الخصوصية وشروط الاستخدام هذه والامتثال لها. تنطبق هذه السياسة والشروط على جميع الزوار والمستخدمين ممن يستخدمون الموقع الإلكتروني التابع للجامعة، وإذا كنت لا توافق على هذه السياسة وشروط الاستخدام، فالرجاء عدم استخدام الموقع الإلكتروني.
                </p>
                <p class="privacy_policy_arabic_p" 
                >تحتفظ جامعة الامام عبد الرحمن بن فيصل بالحق، حسب تقديرها وحدها، في تغيير هذه السياسة وشروط الاستخدام في أي وقت عند الضرورة أو في حال الإخلال بسياسات الموقع للنشر وإدارة المحتوى من دون الحاجة إلى تقديم إخطار بذلك، كما يحق للجامعة تقييد الدخول إلى أي جزء أو الموقع الالكتروني بالكامل دون إشعار سابق.
                </p> 
                <p class="privacy_policy_arabic_p" 
                >تطبق جامعة الامام عبد الرحمن بن فيصل سياسة أمن معلومات شاملة وصارمة ولا يصرح إلا للموظفين المخولين فقط الوصول والاطلاع على المعلومات الشخصية التعريفية حيث تعهّد هؤلاء الموظفين بتأمين سرية هذه المعلومات وفقا للأنظمة المعمول بها في المملكة العربية السعودية. 
                </p> 
                <p class="privacy_policy_arabic_p" 
                >من حق جامعة الامام عبد الرحمن بن فيصل اتخاذ كافة التدابير اللازمة للحماية من أي فقدان أو إساءة استخدام للموقع أو المعلومات الموجودة عليه ولا تعتبر الجامعة مسؤولة قانونيا عن أي ضرر قد يتعرض له أي طرف أو مستخدم للموقع نتيجة انتهاكه لسياسة وشروط الاستخدام وتكون قوانين المملكة العربية السعودية وحدها هي القوانين واجبة التطبيق فيما يتعلق بالنزاعات التي قد تنشأ من جراء مخالفة هذه السياسة وشروط الاستخدام. 
                </p>              
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                    سياسة الاستخدام المقبول:
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p">
                بدخولك واستخدامك موقع الجامعة الالكتروني فأنك توافق وتتعهد ب:
                </p>
                <ul class="privacy_policy_arabic_ul">
                    <li>عدم ارتكاب أعمال غير قانونية.</li>
                    <li>عدم تحريف أو استخدام هوية الجامعة في أي محتوى أو مواد مسيئة. </li>
                    <li>عدم استخدام الموقع كوسيلة للدخول الغير شرعي إلى أنظمة تقنية المعلومات التابعة للجامعة.</li>
                    <li>استخدام موقع الجامعة الالكتروني لأغراض العمل فقط.</li>
                    <li>عدم تحميل الوسائط غير المتعلقة بمجال العمل مثل:
                    <ul class="privacy_policy_arabic_ul">
                    <li>برمجيات الند بالند (Peer to Peer) وبرمجيات مشاركة الملفات عبر الإنترنت.</li>
                    <li>الأفلام، والألعاب، والموسيقى، والبرمجيات، والبرامج النصية، وما إلى ذلك.</li>
                    </ul>
                    </li>
                    <li>لا تستخدم البرمجيات الغير مرخصة أو غيرها من الممتلكات الفكرية. </li>
                    <li>عدم استخدام التقنيات التي تسمح بتجاوز الوسيط (Proxy) أو جدار الحماية (Firewall) للوصول إلى شبكة الإنترنت. </li>
                    <li>عدم تنزيل البرمجيات والأدوات أو تثبيتها على موقع الجامعة الإلكتروني دون الحصول على تصريح مسبق من إدارة الأمن السيبراني.</li>
                    <li>عدم إجراء أي فحص أمني لغرض اكتشاف الثغرات الأمنية، ويشمل ذلك إجراء اختبار الاختراقات، أو مراقبة شبكات الجامعة وأنظمتها، أو الشبكات والأنظمة الخاصة بالجهات الخارجية بما في ذلك على سبيل المثال لا الحصر، فحص المنافذ، واستقصاء المعلومات من الشبكة والخداع، والمسح الأمني، ومراقبة الشبكة دون الحصول على تصريح مسبق من إدارة الأمن السيبراني.</li>
                    <li>عدم استخدام أي روبوت (Robot) أو عنكبوت (Spider) أو رابط عميق (Deep Link) أو مكشطة (Scraper) أو غيرها من الوسائل الآلية، أو استخدام منهجية، أو خوارزمية أو جهاز أو أي عملية يدوية لمراقبة أو نسخ الموقع الإليكتروني، أو نسخ أي من صفحات الويب الخاصة به دون إذن كتابي من قبل الجهات المختصة في جامعة الامام عبد الرحمن بن فيصل.</li>
                    <li>عدم التأطير أو التصغير (Squeeze Back) أو التغطية (Overlay) أو استخدام تقنيات أخرى لإدراج أو عرض الموقع، أو أي علامة تجارية أو شعار أو محتوى أو غيرها من معلومات الملكية (بما في ذلك الصور أو النص أو تخطيط الصفحة أو النموذج) المضمنة على الموقع الإلكتروني، باستخدام أي برامج أو محتوى لطرف ثالث.</li>
                    <li>عدم استخدام أي علامات وصفية أو أي "نص مخفي" آخر أو استخدم أسماء أو علامات تجارية لجامعة الامام عبد الرحمن بن فيصل دون الحصول على موافقة خطية مسبقاً؛</li>
                    <li>عدم استخدام أي جهاز أو برنامج يتداخل مع الوظائف العادية للموقع، أو المشاركة في أي نشاط مشبوه يفرض حمولة مفرطة أو غير متناسبة مع الهيكل الأساسي للموقع على النحو الذي تحدده الجامعة في تقديرها الخاص.</li>
                </ul>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        حقوق ومسؤولية النشر:
                    </h2>
                </div>
                <ul class="privacy_policy_arabic_ul">
                    <li>الموقع ومحتواه محميان بموجب قوانين حقوق النشر في المملكة العربية السعودية. لا يجوز لك إعادة إنتاج أو تعديل أو توزيع أي نصوص أو رسومات أو فيديو أو صوت أو أي محتوى آخر على الموقع الإلكتروني دون إذن كتابي مسبق من الجامعة.</li>
                    <li>قد يحتوي الموقع على روابط أخرى لمواقع مختلفة لطرف ثالث لا تخضع لسيطرة الجامعة، ولا تتحمل الجامعة مسؤولية محتوى أي موقع خاص بالطرف ثالث، وإدراج أي رابط هو تسيير للأمور ولا يعني بأي شكل من الاشكال موافقة الجامعة أو دعمها لأي من الأفكار أو التوجهات الموجودة على المواقع أو أي ارتباط أو علاقة مع مشغليها. الجامعة تخلي نفسها من أية مسؤولية فيما يتعلق بدخولك إلى أي روابط مدرجه على الموقع ويجب عليك الالتزام بالإرشادات المتعلقة بإدراج روابط الجامعة ما لم يُنص على خلاف ذلك في اتفاق بينك وبين الجامعة، وينبغي ألا يعطي الرابط أو موضعه أو سماته الأخرى أي انطباعاً خاطئاً بأن مؤسستك أو كيانك هي تحت رعاية الجامعة أو منتسبة إليها أو مرتبطة بها، وبهذا تحتفظ الجامعة بالحق الكامل في إلغاء موافقتها على الرابط في أي وقت وفقاً لتقديرها الخاص.</li>
                </ul>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        سياسات إضافية:
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p"
                >عند استخدام الموقع الإلكتروني الخاص بالجامعة، فإنك تتعهد بالالتزام بسياسة الخصوصية وشروط الاستخدام والضوابط الصادرة من هيئة الأمن السيبراني ومكتب إدارة البيانات الوطنية والامتثال لها وأي سياسات أخرى تابعة للجامعة وإداراتها المختلفة تحكم استخدام هذا الموقع.
                </p>
                <p class="privacy_policy_arabic_p"
                >للاطلاع على السياسات التي تحكم الموقع الإلكتروني للجامعة، أنقر هنا</p>
                <p class="privacy_policy_arabic_p"
                >يعتمد الموقع الإلكتروني التابع للجامعة على مجموعة من معايير الأمان التي تضمن سرية جميع المعلومات التي يتم عرضها أو تخزينها أو تبادلها مع المستخدمين، ومن هذه المعايير عملية تشفير المعلومات المخزنة، وفرض قيود عالية على كلمات المرور تضمن استخدام كلمات مرور ذات تعقيد مناسب كذلك فرض درجة عالية من الأمان على جميع تجهيزات وخوادم الموقع الالكتروني في عمادة هيئة الاتصالات وتقنية المعلومات بالجامعة، حيث تم تجهيز العمادة بأحدث أجهزة الحماية إضافة إلى نشر أفضل أنواع برامج مضادات الفيروسات على جميع الخوادم المتوفرة بالعمادة.
                </p>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        سياسة حماية البيانات الشخصية
                    </h2>
                </div>
                <h3 class="privacy_policy_arabic_h3">
                    جمع البيانات الشخصية:
                </h3>
                <p class="privacy_policy_arabic_p">
                    تقوم جامعة الامام عبد الرحمن بن فيصل بجمع البيانات الشخصية من المستخدمين بمعرفتهم وموافقتهم عند التسجيل في القنوات الرسمية للجامعة باستخدام تطبيقات الهاتف المحمول او الخدمات المختلفة التي تتبع الجامعة ,أو عند التواصل مع قنوات خدمة العملاء، أو عند تزويد الجامعة بالبيانات عن طريق الجهات التي وقعت معها الجامعة الاتفاقيات الخاصة بمشاركة وتبادل البيانات , وتشمل مختلف البيانات الشخصية مثل اسم الشخص ,رقم الهوية او الإقامة , ارقام التواصل , العنوان, المعلومات الاجتماعية , البيانات الوظيفية والتعليمية , بيانات الحسابات الالكترونية مثل اسم المستخدم والبريد الالكتروني وغيرها.
                </p>
                <h3 class="privacy_policy_arabic_h3">
                    الأساس النظامي لجمع البيانات الشخصية والغرض من جمعها:
                </h3>
                <p class="privacy_policy_arabic_p">
                    يتم جمع البيانات وفقاً للأحكام الواردة في نظام حماية البيانات الشخصية الصادر بالمرسوم الملكي الكريم رقم (م/19) وتاريخ 9/2/1443هـ، وتعديلاته، ويعتبر جمع ومعالجة البيانات الشخصية ضرورياً لأداء خدمات تحقق المصلحة العامة، حيث يتم جمعها للأغراض التالية:
                </p>
                <ul class="privacy_policy_arabic_ul">
                    <li>تمكين وتقديم خدمات جامعة الامام عبد الرحمن بن فيصل واستيفاء متطلباتها.</li>
                    <li>إصدار السياسات وإعداد الدراسات التي تخدم متطلبات العمل.</li>
                    <li>حل ومعالجة استفسارات وشكاوى المستفيدين من خدمات الجامعة.</li>
                    <li>رفع مستوى أداء الخدمات وتطويرها وتحسين تجربة المستفيد وضمان استمرارية تقديم الخدمات بالجودة المطلوبة.</li>
                    <li>مصادقة هوية المستخدم عند التسجيل في خدمات الجامعة المختلفة.</li>
                    <li>تلبية بعض المتطلبات القانونية والتنظيمية.</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    محتوى البيانات الشخصية المطلوب جمعها:
                </h3>
                <p class="privacy_policy_arabic_p">
                    عند استخدامك لموقع الجامعة، قد نقوم بجمع البيانات الشخصية الضرورية لتحقيق الأغراض المحددة. تشمل هذه البيانات، على سبيل المثال لا الحصر:
                </p>
                <ul class="privacy_policy_arabic_ul">
                    <li>الاسم الكامل.</li>
                    <li>معلومات الاتصال (البريد الإلكتروني، رقم الهاتف).</li>
                    <li>المعلومات الأكاديمية أو المهنية ذات الصلة بخدمات الجامعة.</li>
                    <li>معلومات الهوية الوطنية (حسب الحاجة).</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    مشاركة البيانات الشخصية:
                </h3>
                <ul class="privacy_policy_arabic_ul">
                    <li>وفقاً لسياسة مشاركة البيانات الصادرة من مكتب إدارة البيانات الوطنية، لن تشارك الجامعة بيانات المستفيد الشخصية مع الجهات غير الحكومية إلا إذا كانت من الجهات المصرح لها القيام بأداء خدمات حكومية محددة. أو بعد الحصول على موافقة صاحب البيانات للقيام بذلك، وفي حدود البيانات الجائز الإفصاح عنها نظاماً.</li>
                    <li>قد تشارك الجامعة بيانات المستفيد الشخصية الضرورية مع جهات حكومية لأغراض محددة مبنية على أساس نظامي أو احتياج عملي مبرر يهدف إلى تحقيق مصلحة عامة دون إلحاق أي ضرر بالمصالح الوطنية، أو أنشطة الجهات، أو خصوصية الأفراد، أو سلامة البيئة، ويستثنى من ذلك البيانات والجهات المستثناة بأوامر سامية، مع عدم الإخلال بحقوق صاحب البيانات الشخصية.</li>
                    <li>عند مشاركة بيانات المستفيد الشخصية تحرص الجامعة على مشاركتها من خلال بيئة آمنة وموثوقة وفقاً للأنظمة واللوائح والسياسات ذات العلاقة، قد نتخذ خطوات إضافية لضمان حماية بياناتك من خلال توقيع اتفاقية لمشاركة البيانات بين الجامعة والجهات الأخرى وفقاً لشروط وأحكام محددة متوافقة مع مبادئ مشاركة البيانات.</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    نقل البيانات الشخصية خارج الحدود الجغرافية للمملكة:
                </h3>
                <ul class="privacy_policy_arabic_ul">
                    <li>•	وفقًا للأنظمة المطبقة تخزين بيانات المستفيد الشخصية ومعالجتها يكون بطريقة آمنة داخل الحدود الجغرافية للمملكة العربية السعودية، وذلك لضمان المحافظة على السيادة الوطنية الرقمية لهذه البيانات مالم تكن من حالات نقل أو معالجة البيانات خارج الحدود الجغرافية للمملكة والموضحة في المادة (التاسعة والعشرون) من نظام حماية البيانات الشخصية.</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    حماية البيانات الشخصية:
                </h3>
                <ul class="privacy_policy_arabic_ul">
                    <li>تلتزم جامعة الامام عبد الرحمن بن فيصل بحماية البيانات الشخصية من التسريب، أو التلف، أو الفقدان، أو الاختلاس، أو إساءة الاستخدام، أو التعديل، أو الوصول غير المصرح به، وكذلك حفظ خصوصية بيانات مستخدمي أنظمتها وموقعها الإلكتروني، وحفظ سرية معلومات مستخدمي أنظمتها المختلفة وذلك لتقديم خدمة ذات جودة عالية لكل المستخدمين.</li>
                    <li>تقوم الجامعة بتطبيق الضوابط الأمنية المناسبة لحماية البيانات ومشاركتها في بيئة آمنة وموثوقة وفقًا للأنظمة والتشريعات ذات العلاقة، ووفقًا لما يصدر من الهيئة الوطنية للأمن السيبراني، وتطبيق الممارسات الأخلاقية أثناء عملية مشاركة البيانات؛ لضمان استخدامها في إطار من العدالة، والنزاهة، والأمانة، والاحترام.</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    وسيلة الحفظ
                </h3>
                <p class="privacy_policy_arabic_p">
                    تلتزم الجامعة بحفظ البيانات الشخصية ضمن أنظمتها الرقمية المؤمنة والمشفرة، مع تطبيق أعلى معايير الحماية التقنية وفقًا للأنظمة المعمول بها في المملكة العربية السعودية. يتم حفظ البيانات في بيئات إلكترونية محمية تمنع الوصول غير المصرح به.
                </p>
                <h3 class="privacy_policy_arabic_h3">
                    كيفية المعالجة
                </h3>
                <p class="privacy_policy_arabic_p">
                    تُستخدم البيانات الشخصية فقط للأغراض المصرح بها، مثل تحسين الخدمات، وإجراء الدراسات، وتقديم الدعم الفني. يتم معالجة البيانات باستخدام تقنيات معتمدة وآمنة وبما يتماشى مع لوائح حماية البيانات الشخصية.
                </p>
                <h3 class="privacy_policy_arabic_h3">
                    كيفية الإتلاف
                </h3>
                <p class="privacy_policy_arabic_p">
                    تلتزم الجامعة بحذف أو إتلاف البيانات الشخصية بعد انتهاء الغرض من جمعها وفق إجراءات آمنة ومحددة، بما في ذلك:
                </p>
                <ul class="privacy_policy_arabic_ul">
                    <li>الحذف النهائي للبيانات من قواعد البيانات.</li>
                    <li>إتلاف النسخ الورقية بشكل يضمن عدم استرجاعها.</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    حقوق صاحب البيانات فيما يتعلق بمعالجة البيانات الشخصية:
                </h3>
                <ul class="privacy_policy_arabic_ul">
                    <li>الحق في العلم، ويشمل ذلك إحاطة صاحب البيانات علماً بالمسوغ النظامي أو العملي المعتبر لجمع بياناته الشخصية، </li>
                    <li>الحق في وصول صاحب البيانات إلى بياناته الشخصية المتوافرة لدى الجامعة، ويشمل ذلك الاطلاع عليها، والحصول على نسخة منها بصيغة واضحة ومطابقة لمضمون السجلات وبلا مقابل مادي -وفقاً لما تحدده اللوائح والأنظمة.</li>
                    <li>الحق في طلب تصحيح صاحب البيانات لبياناته الشخصية المتوافرة لدى الجامعة، أو إكمالها، أو تحديثها.</li>
                    <li>الحق في طلب إتلاف بياناته الشخصية المتوافرة لدى الجامعة عند انتهاء الحاجة إليها، وبما يتوافق مع ما ورد في (المادة الثامنة عشر) من نظام حماية البيانات الشخصية.</li>
                </ul>
                <h3 class="privacy_policy_arabic_h3">
                    هل لديك استفسار أو شكوى بخصوص إشعار الخصوصية؟
                </h3>
                <p class="privacy_policy_arabic_p"
                >في حال وجود أي استفسار أو شكوى أو طلب فيما يخص حقوقك المتعلقة بمعالجة بياناتك الشخصية أو حول ما ورد في إشعار الخصوصية بشكل عام، يمكنك التواصل مع مكتب إدارة وحوكمة البيانات في جامعة الامام عبد الرحمن بن فيصل عبر البريد الإلكتروني <a href="mailto:dmo@iau.edu.sa">dmo@iau.edu.sa</a>
                </p>
                <p class="privacy_policy_arabic_p">
                    التشريعات ذات الصلة:
                </p>
                <ul class="privacy_policy_arabic_ul">
                    <li><a href="https://sdaia.gov.sa/ndmo/Files/Policies001.pdf" target="_blank" rel="noopener">ضوابط مكتب إدارة البيانات الوطنية</a></li>
                    <li><a href="https://dgp.sdaia.gov.sa/wps/portal/pdp/knowledgecenter/details/PDPL" target="_blank" rel="noopener">نظام حماية البيانات</a></li>
                    <li><a href="https://nca.gov.sa/ar/legislation/" target="_blank" rel="noopener">الضوابط الأساسية للأمن السيبراني</a></li>
                </ul>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        الامتثال للقانون:
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p">
                    يجب قراءة سياسة وشروط الاستخدام بعناية قبل الدخول أو المشاركة في أي من التعاملات الموجودة في الموقع الالكتروني للجامعة والمواقع التابعة لها، حيث إن استخدامك أو مشاركتك في هذه المواقع، يعني قراءتك لهذه السياسة وشروط الاستخدام وموافقتك على الالتزام بها.
                </p>
                <p class="privacy_policy_arabic_p">
                    حيث يعتبر التقيُّد بهذه السياسة وشروط الاستخدام إلزامي، ويحظر الدخول إلى الموقع من أي جهة أو طرف حيث يكون فيها هذا الدخول أو محتوى الموقع غير قانوني. أولئك الذين يختارون الدخول إلى الموقع يفعلون ذلك بمبادرة خاصة منهم، ويكونون مسؤولين عن الامتثال بجميع القوانين المعمول بها، وسوف يتمخض أي انتهاك لهذه السياسة وشروط الاستخدام عن قيام عمادة الاتصالات وتقنية المعلومات بالجامعة بالتنسيق مع الجهات المعنية الأخرى بالجامعة أو الجهات الأمنية ذات الاختصاص باتخاذ إجراءات تصحيحية، ويكون مستوى الإجراءات المطبقة متلائمة مع مستوى الانتهاك الذي تحدده التحقيقات، وتتضمن هذه الإجراءات على سبيل المثال لا الحصر: منع نشر المحتوى على الموقع أو إنهاء أو تقييد أو إيقاف حق المستخدم في الدخول إلى الموقع واستخدامه.
                </p>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        إخلاء المسؤولية العامة والمحدودة:
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p">
                    توفر الجامعة الموقع الإلكتروني، بما في ذلك وبدون قيود جميع المعلومات والمواد والبرامج والخدمات والرسومات التي يتم توفيرها لك "كما هي"، " متاحه" دون أي ضمان من أي نوع إلى الحد الأقصى المسموح به بموجب القانون المعمول به، لن تتحمل الجامعة جميع الضمانات فيما يتعلق بالموقع، بما في ذلك دون قيود جميع المحتويات الموجودة على موقع الجامعة أو من خلاله، بالإضافة إلى جميع الضمانات الضمنية للمتاجرة، أو الملائمة لغرض معين أو العنونة أو عدم مخالفة الأنظمة. في حين أن المحتوى المتاح من خلال الموقع الإلكتروني يعد صحيحاً عند تاريخ إعداده، لكن لن تقدم الجامعة أي ضمان فيما يتعلق بدقة أو اكتمال أو توقيت أي محتوى من هذا القبيل ولا تتحمل الجامعة والقائمين على تشغيل وإدارة الموقع أية مسؤولية على الآثار المترتبة أو الفقدان أو الضرر الذي قد يحدث للمستخدم أو طرف ثالث بسبب استخدام مواقع الجامعة وخدماتها. لذا يجب عليك التحقق من أي محتوى قبل الاعتماد عليه. لا تقدم الجامعة أي ضمانات بأن استخدام الموقع الإلكتروني غير مكتمل أو خالٍ من الأخطاء.
                </p>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        المخالفات:
                    </h2>
                </div>
                <p class="privacy_policy_arabic_p">
                    تحتفظ الجامعة بالحق وفقاً لتقديرها الخاص في اتخاذ الإجراءات اللازمة وفقاً للقانون وبشكل عادل فيما يتعلق بانتهاكات هذه السياسة وشروط الاستخدام، بما في ذلك الحق في إنهاء الدخول إلى كل الموقع الإلكتروني أو جزء منه من عنوان إنترنت معين في أي وقت دون سابق إنذار لأي سبب من الأسباب.
                </p>
            </div>
            <div>
                <div style="display: flex;align-items: center;">
                    <h2 class="privacy_policy_arabic_h2">
                        التحديث على السياسة:
                    </h2>
                </div>
                <ul class="privacy_policy_arabic_ul">
                    <li>تم إجراء آخر تحديث على هذه السياسة بتاريخ 26 فبراير 2024م.</li>
                    <li>تحتفظ جامعة الإمام عبد الرحمن بن فيصل بحق إضافة أو تغيير أي من أحكام هذه السياسة حسب ما تراه مناسباً، ويصبح أي تعديل أو تحديث لأي من هذه البنود والشروط نافذاً فور اعتماده من قبل الجهة المختصة وهو ما يتطلب من المستخدم مراجعة مستمرة لسياسة الخصوصية وشروط الاستخدام ومبادئ إخلاء المسؤولية لمعرفة أية تحديثات تتم عليها وتسري هذه التغييرات أو التعديلات أو الإضافات أو الحذف فور نشرها ما لم يرد خلاف ذلك. لا تتحمل الجامعة أي واجب أو التزام بإبلاغ المستخدمين السابقين للموقع بأن التغييرات قد تم إجراؤها، بغض النظر عن نطاق التغييرات وأهميتها. أنت مسؤول عن مراجعة شروط الاستخدام بانتظام. يعد استمرار استخدامك للموقع بعد نشر التغييرات موافقتك على هذه التغييرات.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
