{% extends "templates/Base.html" %}

{% block title %}
Job Application
{% endblock %}

{% block content %}
<section class="job_application" style="background-color: #EFE6D2;">
    <div class="container">
        <div style="display: flex; align-items: center; justify-content: space-between; padding : 40px 0px; border-bottom: 2px solid transparent; /* Make the border transparent initially */
        border-image: linear-gradient(90deg, #93A1BB 0%, rgba(67, 73, 85, 0) 100%);
        border-image-slice: 1; flex-wrap : wrap;">
            <div>
                <h1 id="job_title"
                    style="text-transform: capitalize; font-size: 40px; font-weight: 700; color: #3D4667; font-family: 'Encode Sans Condensed', system-ui">
                </h1>
                <div class="bulletin-container">
                    <div id="department" style="padding: 20px 20px 20px 0; color: #8092A7; font-size: 22px;
                        font-family: 'Inter', sans-serif; font-weight: 400;"></div>
                    <div class="disc-bulletin"></div>
                    <div id="employment_type" class="bulletin" style="padding: 20px 20px 20px 0;"></div>
                    <div class="disc-bulletin"></div>
                    <div id="location" class="bulletin" style="padding: 20px 20px 20px 0;"></div>
                </div>
            </div>
            <div>
                <div id="not-saved-indicator" style="background: #FFBCBC; padding : 10px 140px; font-family: 'Inter', sans-serif; font-size: 22px;
                        font-weight: 700;line-height: 26.62px; letter-spacing: -0.03em; text-align: center; color : #9B0000;
                        display: none;">
                    Not Saved
                </div>
            </div>
        </div>
        <form style="padding-top: 40px;" id="jobApplicationForm">
            <div style="display : flex; justify-content: space-between; flex-wrap : wrap">
                <div id="job_title_div" style="display : flex; flex-direction: column;">
                    <label for="job title"
                        style="font-family: 'Inter', sans-serif; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Job
                        Title</label>
                    <input type="text" class="form-control" id="job_title" readonly style="border: 1px solid #324362;font-family: 'Inter', sans-serif;
                    margin-top: 14px;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 26.63px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color : black;
                        padding : 10px 24px;
                        background-color: #f2e6ce;">
                </div>
                <div id="applicant_name_div" style="display : flex; flex-direction: column;">
                    <label for="applicant name"
                        style="font-family: 'Inter', sans-serif; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Applicant
                        Name</label>
                    <input type="text" class="form-control" id="applicant_name" readonly placeholder="johndoe@gmail.com"
                        style="border: 1px solid #324362;font-family: 'Inter', sans-serif; 
                        margin-top: 14px;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 26.63px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color : black;
                        padding : 10px 24px;
                        background-color: #f2e6ce;">
                </div>
            </div>
            <div style="display : flex; justify-content: space-between; margin-top: 24px; flex-wrap : wrap;">
                <div style="display : flex; flex-direction: column;" id="applicant_email_div">
                    <label for="applicant email"
                        style="font-family: 'Inter', sans-serif; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Email
                    </label>
                    <input type="text" class="form-control" id="applicant_email" readonly
                        placeholder="johndoe@gmail.com" style="border: 1px solid #324362;font-family: 'Inter', sans-serif;
                    margin-top: 14px;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26.63px;
                    letter-spacing: -0.02em;
                    text-align: left;
                    color : black;
                    padding : 10px 24px;
                    background-color: #f2e6ce;">
                </div>
                <div id="phone_country_div" style="display : flex; justify-content: space-between; flex-wrap : wrap">
                    <div id="applicant_phone_number_div" style="display : flex; flex-direction: column;">
                        <label for="applicant phone number"
                            style="font-family: 'Inter', sans-serif; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Phone
                            Number
                        </label>
                        <input type="text" required class="form-control" id="applicant_phone_number"
                            placeholder="+91 99999 22222" style="border: 1px solid #324362;font-family: 'Inter', sans-serif;
                        margin-top: 14px;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 26.63px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color : black;
                        padding : 10px 24px;">
                    </div>
                    <div id="country_div" style="display : flex; flex-direction: column;">
                        <label for="country of Reseidence"
                            style="font-family: 'Inter', sans-serif; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600;">Country
                            of Reseidence
                        </label>
                        <input type="text" required class="form-control" id="country_of_residence" placeholder="India" style="border: 1px solid #324362;font-family: 'Inter', sans-serif;
                        margin-top: 14px;
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 26.63px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color : black;
                        padding : 10px 24px;">
                    </div>
                </div>
            </div>
            <div style="margin-top: 24px;">
                <label for="cover_letter"
                    style="font-family: 'Inter', sans-serif, sans-serif; font-size: 20px; line-height: 24px; color: #929292; font-weight: 600;">
                    Cover Letter
                </label>
                <textarea id="cover_letter" required
                    style="border: 1px solid #324362; font-family: 'Inter', sans-serif, sans-serif; margin-top: 14px; 
                        font-size: 22px; font-weight: 500; line-height: 26.63px; letter-spacing: -0.02em; 
                        text-align: left; color: black; padding: 10px 14px; width: 100%; box-sizing: border-box; min-height: 221px;">
                </textarea>
            </div>
            <input type="file" required id="fileInput" style="display: none;" />
            <button type="button" id="uploadButton" style="width: 100%; background: linear-gradient(180deg, #FFFBF1 0%, rgba(255, 251, 241, 0) 100%); font-family: 'Inter', sans-serif;
                margin-top: 22px;
                font-size: 22px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: -0.02em;
                text-align: center;
                color : #101423;
                outline: none;
                box-shadow: none;
                border: 1px solid transparent !important;
                border-image: linear-gradient(180deg, #324362 -77.78%, rgba(50, 67, 98, 0) 129.63%) !important;
                border-image-slice: 1 !important;">
                Upload Resume
            </button>
            <p id="fileNameDisplay" style="text-align: center; font-weight : 500; font-size : 18px; margin-top : 10px;">
                No file selected</p>
            <div class="submit-button-container"
                style="display: flex; gap: 20px; justify-content: flex-end; margin-top: 40px;">
                <button type="button" style="background: linear-gradient(180deg, #FFFBF1 0%, rgba(255, 251, 241, 0) 100%);
                               font-family: 'Inter', sans-serif;
                               font-size: 22px;
                               font-weight: 700;
                               line-height: 32px;
                               letter-spacing: -0.02em;
                               text-align: center;
                               color: #101423;
                               outline: none;
                               box-shadow: none;
                               padding: 10px 40px;
                               cursor : pointer;
                               border: 1px solid transparent;
                               border-image: linear-gradient(180deg, #324362 -77.78%, rgba(50, 67, 98, 0) 129.63%);
                               border-image-slice: 1;" onclick="window.history.back();">
                    Discard
                </button>
                <button type="submit" id="saveButton" style="background-color: #101423;
                    color: white;
                    font-family: 'Inter', sans-serif;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 32px;
                    letter-spacing: -0.02em;
                    padding: 10px 40px;
                    outline: none;
                    box-shadow: none;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-image: linear-gradient(180deg, #324362 -77.78%, rgba(50, 67, 98, 0) 129.63%);
                    border-image-slice: 1;">
                    Save
                </button>
            </div>
        </form>
    </div>
</section>
<div id="toastContainer" style="position: fixed; bottom: 20px; right: 20px; z-index: 9999; display: none;">
    <div id="toastMessage"
        style="background-color: #4CAF50; color: white; padding: 10px 20px; border-radius: 5px; font-size: 18px;">
        Job application submitted successfully!
    </div>
</div>
<script>
    {% include "templates/includes/job_application.js" %}
</script>
{% endblock %}