{% extends "templates/Base.html" %}

{% block title %}
Job Information
{% endblock %}

{% block content %}
<section class="job_info" style="background-color: #EFE6D2;">
    <div class="container">
        <div>
            <h1 id="job-title"
                style="text-transform: capitalize; font-size: 2.5rem; font-weight: 700; color: #3D4667; font-family: 'Encode Sans Condensed', system-ui;">
            </h1>
            <div class="bulletin-container">
                <div id="department" style="padding: 1.25rem 1.25rem 1.25rem 0; color: #8092A7; font-size: 1.375rem;
                    font-family: 'Inter', sans-serif; font-weight: 400;"></div>
                <div class="disc-bulletin"></div>
                <div id="employment_type" class="bulletin" style="padding: 1.25rem 1.25rem 1.25rem 0;"></div>
                <div class="disc-bulletin"></div>
                <div id="location" class="bulletin" style="padding: 1.25rem 1.25rem 1.25rem 0;"></div>
            </div>
        </div>
        <div class="job_application_div" style="display : flex; justify-content : space-between; flex-wrap: wrap;">
            <div id="job_desc">
                <article id="job_description"
                    style="color : #101423; font-size : 1.375rem; font-weight : 500; line-height : 2.5rem;">
                </article>
            </div>
            <div style="width : 15.625rem;">
                <div style="display : flex; flex-direction: column;">
                    <a id="apply-link" style="width: 100% !important;">
                        <button
                            style="width : 100%;padding : 0.75rem 0rem; font-size : 1.25rem; font-weight : 600; background-color: #101423; color: #fff; cursor : pointer">
                            Apply Now
                        </button>
                    </a>
                </div>
                <div id="above_qrcode_or" class="divider" style="margin-top : 0.875rem">
                    <span style="padding : 0 0.625rem">OR</span>
                </div>
                <div id="qrcode" style="display : flex; flex-direction : column; margin-top: 0.875rem;">
                    <img id="qrcode-img" style="width : 100%; height : 15.625rem;" />
                    <button
                        style="width : 100%; background-color: white; box-shadow: none; border : none; cursor: pointer;">
                        <center
                            style="color : #3D4667; font-family : 'Encode Sans Condensed', system-ui; font-weight : 700; font-size : 2rem; line-height : 2.5rem">
                            Scan to Apply
                        </center>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    {% include "templates/includes/jobs_info.js" %}
</script>
{% endblock %}