{% extends "templates/Base.html" %}

{% block title %}
Job Information
{% endblock %}

{% block content %}
<section class="job_info" style="background-color: #EFE6D2;">
    <div class="container">
        <div>
            <h1 id="job-title"
                style="text-transform: capitalize; font-size: 40px; font-weight: 700; color: #3D4667; font-family: 'Encode Sans Condensed', system-ui;">
            </h1>
            <div class="bulletin-container">
                <div id="department" style="padding: 20px 20px 20px 0; color: #8092A7; font-size: 22px;
                    font-family: 'Inter', sans-serif; font-weight: 400;"></div>
                <div class="disc-bulletin"></div>
                <div id="employment_type" class="bulletin" style="padding: 20px 20px 20px 0;"></div>
                <div class="disc-bulletin"></div>
                <div id="location" class="bulletin" style="padding: 20px 20px 20px 0;"></div>
            </div>
        </div>
        <div class="job_application_div" style="display : flex; justify-content : space-between; flex-wrap: wrap;">
            <div id="job_desc">
                <article id="job_description"
                    style="color : #101423; font-size : 22px; font-weight : 500; line-height : 40px;">
                </article>
            </div>
            <div style="width : 250px;">
                <div style="display : flex; flex-direction: column;">
                    <a id="apply-link" style="width: 100% !important;">
                        <button
                            style="width : 100%;padding : 12px 0px; font-size : 20px; font-weight : 600; background-color: #101423; color: #fff; cursor : pointer">
                            Apply Now
                        </button>
                    </a>
                </div>
                <div class="divider" style="margin-top : 14px">
                    <span style="padding : 0 10px">OR</span>
                </div>
                <div style="display : flex; flex-direction : column; margin-top: 14px;">
                    <img id="qrcode-img" style="width : 100%; height : 250px;" />
                    <button
                        style="width : 100%; background-color: white; box-shadow: none; border : none; cursor: pointer;">
                        <center
                            style="color : #3D4667; font-family : 'Encode Sans Condensed', system-ui; font-weight : 700; font-size : 32px; line-height : 40px">
                            Scan to Apply
                        </center>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    {% include "templates/includes/jobs_info.js" %}
</script>
{% endblock %}