{% extends "templates/Base.html" %}

{% block title %}
Jobs Listings
{% endblock %}

{% block content %}
<section style="background-color: #EFE6D2; padding: 2.5rem;">
    <div class="container">
        <div id="search_section"
            >
            <div id="search_div">
                <input id="jobSearchInput"
                    style="width : 100%;padding : 0.6875rem; border : 0.0625rem solid #324362; font-size : 1.375rem; font-family : 'Encode Sans Condensed', system-ui; line-height : 1.664375rem;"
                    type="text" placeholder="Type in a job title" />
                <button
                    style="padding : 0.6875rem 2.25rem; text-align : center; background-color : #101243; color : white; font-weight : 700; font-family : 'Encode Sans Condensed', system-ui ; font-size : 1.375rem; line-height : 2rem">Search</button>
            </div>
            <div class="select_container">
                <label for="sort" class="custom-label">Sort by:</label>
                <select id="sort" class="custom-select">
                    <option value="most-recent">Most Recent</option>
                    <option value="oldest">Oldest</option>
                </select>
            </div>
        </div>
        <div class="listing_section" style="display: flex; justify-content: space-between; margin-top :3.3125rem;">
            <!-- Filter Section -->
            <div class="filter_section" style="width: 18.75rem;">
                <div style="margin-bottom: 3.75rem; display : flex; justify-content : space-between;">
                    <p id="job_listing_page_filter_label" style="font-size : 1.75rem; font-weight : 700; line-height : 2.1875rem; color : #3D4667">Filters</p>
                    <button id="jobs_listing_page_clearall_button"
                        style="padding: 0.625rem 1rem; background-color: #101423; color: white; font-size: 1.125rem; font-weight: 600; border: none; font-family : 'Encode Sans Condensed', system-ui; cursor : pointer">
                        Clear all<span style="margin-left: 0.5rem;">&#10006;</span>
                    </button>
                </div>

                <!-- Department Filter -->
                <div style="margin-bottom: 3.75rem;">
                    <h4 id="job_listing_page_department_filter_heading_label"
                        style="font-size: 1.5rem; font-weight: 700; margin-bottom: 1.125rem; color : #3D4667B2; font-family : 'Encode Sans Condensed';">
                        Department
                    </h4>
                    <div>
                        <label class="custom-checkbox"
                            style="display: flex; align-items: center; font-size: 1.25rem; margin-bottom: 1rem;">
                            <input type="checkbox" checked>
                            <span id="job_listing_page_department_filter_human_resource_checkbox" style="margin: 0 1.125rem;">Human Resources</span>
                        </label>
                        <label class="custom-checkbox" style="display: flex; font-size: 1.25rem; margin-bottom : 1rem;">
                            <input type="checkbox" checked>
                            <span id="job_listing_page_department_filter_management_checkbox" style="margin: 0 1.125rem;">Management</span>
                        </label>
                        <label class="custom-checkbox" style="display: flex; font-size: 1.25rem; margin-bottom : 1rem;">
                            <input type="checkbox" checked>
                            <span id="job_listing_page_department_filter_operation_checkbox" style="margin:0 1.125rem;">Operation</span>
                        </label>
                        <label class="custom-checkbox" style="display: flex; font-size: 1.25rem; margin-bottom : 1rem;">
                            <input type="checkbox" checked>
                            <span id="job_listing_page_department_filter_sales_checkbox" style="margin:0 1.125rem;">Sales</span>
                        </label>
                    </div>
                </div>


                <!-- Employment Type Filter -->
                <div style="margin-bottom: 2.5rem;">
                    <h4 id="job_listing_page_employment_type_filter_heading_label"
                        style="font-size: 1.5rem; font-weight: 700; margin-bottom: 1.125rem; color : #3D4667B2; font-family : 'Encode Sans Condensed';">
                        Employment Type
                    </h4>
                    <div>
                        <label class="custom-checkbox" style="display: flex; font-size: 1.25rem; margin-bottom : 1rem;">
                            <input type="checkbox" checked>
                            <span id="job_listing_page_employment_type_filter_full_time_checkbox" style="margin:0 1.125rem;">Full Time</span>
                        </label>
                    </div>
                </div>

                <!-- Location Filter -->
                <div style="margin-bottom: 2.5rem;">
                    <h4 id="job_listing_page_location_filter_heading_label"
                        style="font-size: 1.5rem; font-weight: 700; margin-bottom: 1.125rem; color : #3D4667B2; font-family : 'Encode Sans Condensed';">
                        Location
                    </h4>
                    <div>
                        <label class="custom-checkbox" style="display: flex; font-size: 1.25rem; margin-bottom : 1rem;">
                            <input type="checkbox" checked>
                            <span id="job_listing_page_location_filter_riyadh_checkbox" style="margin:0 1.125rem;">Riyadh</span>
                        </label>
                    </div>
                </div>
            </div>

            <div id="listings_container"
                style="display: grid; gap: 1.25rem; grid-auto-rows: 7.5rem;">
                <!-- Dynamic Divs will be rendering here -->
            </div>
        </div>
        <div id="pagination" class="pagination-container"></div>
    </div>
</section>
<script>
    {% include "templates/includes/jobs_listings.js" %}
</script>
{% endblock %}