{% extends "templates/Base.html" %}

{% block title %}
News Information
{% endblock %}

{% block content %}
<section class="news_info" style="background-color: #FFFBF1;">
    <div class="container" style="padding-top : 3.75rem; padding-bottom: 3.75rem;">
        <div style="display: flex; justify-content: space-between; flex-wrap : wrap">
            <div id="news_para1">
                <h1 id="news-title"
                    style="font-family: Encode Sans Condensed; font-size: 2.5rem; font-weight: 700; line-height: 3.125rem; color : #3D4667">
                </h1>
                <p id="published_on"
                    style="font-family: Inter Display; font-size: 1.375rem; font-weight: 400; line-height: 2rem; letter-spacing: -0.02em; color : #8092A7; margin-top : 1.5rem;">
                </p>
                <div
                    style="margin-top : 1.875rem; width: 90%; height: 0.0625rem; background: linear-gradient(90deg, #93A1BB 0%, rgba(67, 73, 85, 0) 100%);">
                </div>
                <article id="news_intro"
                    style="margin-top : 1.5rem; font-family: Inter Display; font-size: 1.375rem; font-weight: 500; line-height: 2.5rem; letter-spacing: -0.02em; text-align: justified; color : #101423">
                </article>
            </div>
            <div style="width: 49%;" id="news_image_div">
                <img id="news_image" style="width: 100%; height : 27.1875rem;" />
            </div>
        </div>
        <div>
            <article id="news_content" style="color : #101423;font-family: Inter Display; font-size: 1.375rem; font-weight: 500; line-height: 2.5rem;
            letter-spacing: -0.02em; text-align: justified; margin-top: 0.625rem;">
            </article>
        </div>
    </div>
</section>
<script>
    {% include "templates/includes/newsInfo.js" %}
</script>
{% endblock %}