{% extends "templates/auth_base.html" %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}
<section
    style="background-image : linear-gradient(#FFFFFF 25%, #EFE6D2 75%);width: 744px; height: 442px; padding : 74px 72px; border : 1px solid #324362">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2
            style="font-family: 'Encode Sans Condensed', sans-serif; font-size: 36px; line-height: 45px; color : #3D4667; font-weight: 700">
            Forgot Password</h2>
        <img src="../assets/iau/images/Auth Logo.png" alt="company_logo" />
    </div>
    <form>
        <div class="form-group" style="margin-top: 37px;">
            <div style="display : flex; flex-direction: column;">
                <label for="email"
                    style="font-family: inter; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Email</label>
                <input type="email" class="form-control" id="email" placeholder="john@gmail" required
                    style="padding : 17px 20px; border : 1px solid #324362; margin-top : 12px; color : black; font-family: inter; font-size: 20px; line-height: 24px;">
            </div>
            <div style="display : flex; flex-direction: column; margin-top : 32px">
                <button
                    style="padding : 19px 0px; font-size : 22px; font-weight : 700; background-color: #101423; color: #fff; cursor : pointer">
                    Reset Password
                </button>
            </div>
        </div>
    </form>
</section>
{% endblock %}