{% extends "templates/Base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="banner_section">
    <div class="container">
        <h3
            style="font-family: 'Encode Sans Condensed'; font-size : 40px; font-weight : 700; color : white; text-align : center">
            LOREM IPSUM DOLOR SIT AMET</h3>
        <p
            style="margin-top : 24px; font-size : 22px; font-weight : 500; font-family : Inter Display; line-height : 32px; color : #fff; text-align : center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
    </div>
</section>
<section class="news_slider" id="latest_news"
    style="background-color: #FFFBF1; height : 842px; padding-top : 72px; padding-bottom : 72px">
    <div class="container">
        <div class="divider">
            <span class="text_span"
                style="text-transform: uppercase; font-size: 40px; font-weight : bold; font-family: 'Encode Sans Condensed'; color : #3D4667;">Latest
                News</span>
        </div>
    </div>
    <div class="swiper mySwiper container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
            <div class="swiper-slide">
                <img src="/assets/iau/images/news banner.png" alt="news 1" />
                <article style="padding : 24px">
                    <h4>
                        Lorem ipsum dolor sit amet
                    </h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna
                        aliqua.
                    </p>
                    <p
                        style="color : #3D4667; font-family: Inter Display; font-weight : 500; font-size : 22px; line-height : 32px; margin-top: 6px;">
                        Jul 21, 2024
                    </p>
                </article>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container" style="width : 100%; display: flex; justify-content: center; align-items: center;">
        <button
            style="padding: 11px 20px; background-color: #101423; color: white; font-size: 22px; font-weight: 700; border: none; font-family : Inter Display; cursor : pointer">
            All News
        </button>
    </div>
</section>
<section class="job_openings_section" id="jobs_openings" style="background-color : #EFE6D2; padding : 72px 0px;">
    <div class="container">
        <div class="divider">
            <div>
                <svg width="31" height="39" viewBox="0 0 31 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.4 9.1C23.4 14.1256 19.7137 18.2 15.1667 18.2C10.6197 18.2 6.93335 14.1256 6.93335 9.1C6.93335 4.07438 10.6194 0 15.1667 0C19.7139 0 23.4 4.07409 23.4 9.1Z"
                        fill="#3D4667" />
                    <path
                        d="M13.9461 20.8C13.4242 20.8 13 21.2668 13 21.8401V22.1865C13 22.7608 13.4242 24.2667 13.9461 24.2667H16.3872C16.9091 24.2667 17.3333 22.7608 17.3333 22.1865V21.8412C17.3333 21.2669 16.9091 20.8011 16.3872 20.8011H13.9461V20.8Z"
                        fill="#3D4667" />
                    <path
                        d="M21.1303 21.6667L17.2577 28.4079L16.5719 24.7013H13.7641L13.0782 28.4079L9.20568 21.6667C4.79849 23.3062 -0.370462 27.6391 0.0209487 39H30.3122C30.7055 27.6391 25.5347 23.3061 21.131 21.6667H21.1303Z"
                        fill="#3D4667" />
                </svg>
                <span
                    style="text-transform: uppercase; font-size: 40px; font-weight : bold; font-family: 'Encode Sans Condensed'; color : #3D4667; margin-left : 15px;">Recent
                    Job Openings
                    News</span>
            </div>
        </div>
        <div id="jobs_listing_section"
            style="width: 100%; display: grid; grid-template-columns: repeat(3, 417.67px); gap: 20px; grid-auto-rows: 127px; padding : 40px 0px;">
            <!-- Dynamic Divs will be rendering here -->
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="/eservice/jobs">
                <button
                    style="padding: 11px 20px; background-color: #101423; color: white; font-size: 22px; font-weight: 700; border: none; font-family : Inter Display; cursor : pointer">
                    All Jobs
                </button>
            </a>
        </div>
    </div>
</section>
<section class="about_us_section" id="about_us">
    <div class="container">
        <div class="divider">
            <span
                style="text-transform: uppercase; font-size: 40px; font-weight : bold; font-family: 'Encode Sans Condensed'; color : #FFFFFF; margin : 0px 15px;">About
                us</span>
        </div>
        <article style="font-family : Inter Display; font-size : 22px; font-weight : 500; text-align: justify;
        line-height: 40px; color : #FFFFFF; padding : 36px 0px;">
            Imam Abdulrahman bin Faisal University is one of the pillars of higher education in the Kingdom of Saudi
            Arabia. The
            University, with its specific, human and material resources, has a key role in scientific research, academic
            supervision
            and community service. The University has a wide base of qualified scientific and technical staff from the
            best local
            universities and a strong environment in all its faculties, scientific departments, research centers,
            laboratories, and
            modern information system. <br /> The Institute of Consulting Studies at Imam Abdulrahman bin Faisal
            University is
            the link
            between the university, the public and private sectors and civil society institutions as a national
            consultancy,
            providing research, contractual studies, professional, academic and administrative consultations with high
            quality in
            line with the requirements of national development and Saudi labor market. And the requirements of the local
            community
            and work to achieve the vision of the Kingdom 2030 in building an ambitious homeland and a prosperous
            economy and a
            vibrant knowledge society developed through the vast material and human resource owned by the University.
        </article>
        <div style="display: grid; grid-template-columns: repeat(2, 50%); gap : 24px;">
            <div style="width: 100%;">
                <div style="display: flex; align-items: center;">
                    <h2
                        style="text-transform: uppercase; font-family: Encode Sans Condensed; font-size: 40px; color: #FFFFFF; font-weight: 700;">
                        our vision
                    </h2>
                    <hr
                        style="flex-grow: 1; margin-left: 10px; border: 1px solid; border-image-source: linear-gradient(90deg, #93A1BB 0%, rgba(138, 151, 176, 0.89) 0%, rgba(129, 142, 165, 0.78) 0.01%); border-image-slice: 1;" />
                </div>
                <p
                    style="font-size : 22px; font-family : Inter Display; font-weight : 500; line-height : 40px; color : #fff">
                    Local and regional leadership in providing advisory studies and distinguished training services.
                </p>
            </div>
            <div style="width: 100%;">
                <div style="display: flex; align-items: center;">
                    <h2
                        style="text-transform: uppercase; font-family: Encode Sans Condensed; font-size: 40px; color: #FFFFFF; font-weight: 700;">
                        our message
                    </h2>
                    <hr
                        style="flex-grow: 1; margin-left: 10px; border: 1px solid; border-image-source: linear-gradient(90deg, #93A1BB 0%, rgba(138, 151, 176, 0.89) 0%, rgba(129, 142, 165, 0.78) 0.01%); border-image-slice: 1;" />
                </div>
                <p
                    style="font-size : 22px; font-family : Inter Display; font-weight : 500; line-height : 40px; color : #fff">
                    Providing high quality advisory and training services that contribute to serving the local
                    community, achieving
                    sustainable development, and transferring and localizing knowledge By hiring and harnessing
                    Possibilities and resources
                    the University Humanity and material and cognitive.
                </p>
            </div>
        </div>

    </div>
</section>
<section class="partnerships_section" id="partnerships">
    <div class="container">
        <div class="divider">
            <span class="text_span"
                style="text-transform: uppercase; font-size: 40px; font-weight : bold; font-family: 'Encode Sans Condensed'; color : #3D4667;">Partnerships</span>
        </div>
        <h4
            style="width : 100%; text-align : center; color : #10142380; text-transform: uppercase; font-size : 22px; font-weight : 700; line-height : 32px; margin-top : 59px;">
            OUTSIDE THE UNIVERSITY
        </h4>
        <div
            style="margin-top: 44px; display: grid; grid-template-columns: repeat(3, 1fr); justify-items: center; align-items : center;">
            <img src="/assets/iau/images/partner 1.png" />
            <img src="/assets/iau/images/partner 2.png" />
            <img src="/assets/iau/images/partner 3.png" />
        </div>
        <h4
            style="width : 100%; text-align : center; color : #10142380; text-transform: uppercase; font-size : 22px; font-weight : 700; line-height : 32px; margin-top : 59px;">
            within THE UNIVERSITY
        </h4>
        <div
            style="margin-top: 44px; display: grid; grid-template-columns: repeat(3, 1fr); justify-items: center; align-items : center;">
            <img src="/assets/iau/images/partner 4.png" />
            <img src="/assets/iau/images/partner 5.png" />
            <img src="/assets/iau/images/partner 6.png" />
        </div>
    </div>
</section>
<section class="partners_section" id="partners">
    <div class="container">
        <div class="divider">
            <span class="text_span"
                style="text-transform: uppercase; font-size: 40px; font-weight : bold; font-family: 'Encode Sans Condensed'; color : #3D4667;">Partners</span>
        </div>
        <div
            style="margin-top: 47px; display: grid; grid-template-columns: repeat(6, 1fr); grid-gap: 20px; justify-items: center; align-items: center;">
            <img src="/assets/iau/images/Partner1.png" />
            <img src="/assets/iau/images/Partner2.png" />
            <img src="/assets/iau/images/Partner3.png" />
            <img src="/assets/iau/images/Partner4.png" />
            <img src="/assets/iau/images/Partner5.png" />
            <img src="/assets/iau/images/Partner6.png" />
            <img src="/assets/iau/images/Partner7.png" />
            <img src="/assets/iau/images/Partner8.png" />
            <img src="/assets/iau/images/Partner9.png" />
            <img src="/assets/iau/images/Partner10.png" />
            <img src="/assets/iau/images/Partner11.png" />
            <img src="/assets/iau/images/Partner12.png" />
        </div>

    </div>
</section>
<script>
    {% include "templates/includes/home.js" %}
</script>
{% endblock %}