{% extends "templates/Base.html" %}

{% block title %}
Job Information
{% endblock %}

{% block content %}
<section class="job_info" style="background-color: #EFE6D2;">
    <div class="container">
        <div>
            <h1
                style="text-transform: capitalize; font-size: 40px; font-weight: 700; color: #3D4667; font-family: Encode Sans Condensed;">
                Senior Project Manager
            </h1>
            <div class="bulletin-container">
                <div style="padding: 20px 20px 20px 0; color: #8092A7; font-size: 22px;
                    font-family: Inter Display; font-weight: 400;">Management</div>
                <div class="disc-bulletin"></div>
                <div class="bulletin" style="padding: 20px 20px 20px 0;">Full-time</div>
                <div class="disc-bulletin"></div>
                <div class="bulletin" style="padding: 20px 20px 20px 0;">Riyadh</div>
            </div>
        </div>
        <div style="display : flex; justify-content : space-between;">
            <div style="width : 1000px; padding : 66px 0px; border-top: 2px solid #93A1BB;">
                <article style="color : #101423; font-size : 22px; font-weight : 500; line-height : 40px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    <br /> <br /> Sed
                    ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                    ipsa quae ab illo
                    inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                    voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                    nesciunt. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                    numquam eius modi
                    tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                    quis nostrum
                    exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                    autem vel eum iure
                    reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem
                    eum fugiat quo
                    voluptas nulla pariatur?
                </article>
            </div>
            <div style="width : 250px;">
                <div style="display : flex; flex-direction: column;">
                    <a href="/eservice/jobApplication" style="width: 100% !important;">
                        <button
                            style="width : 100%;padding : 12px 0px; font-size : 20px; font-weight : 600; background-color: #101423; color: #fff; cursor : pointer">
                            Apply Now
                        </button>
                    </a>
                </div>
                <div class="divider" style="margin-top : 14px">
                    <span style="padding : 0 10px">OR</span>
                </div>
                <div style="display : flex; flex-direction : column; margin-top: 14px;">
                    <img src="/assets/iau/images/qrcode.png" style="width : 100%; height : 250px;" />
                    <button
                        style="width : 100%; background-color: white; box-shadow: none; border : none; cursor: pointer;">
                        <center
                            style="color : #3D4667; font-family : Encode Sans Condensed; font-weight : 700; font-size : 32px; line-height : 40px">
                            Scan to Apply</center>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}