{% extends "templates/Base.html" %}

{% block title %}
Jobs Listings
{% endblock %}

{% block content %}
<section style="background-color: #EFE6D2; padding-top: 224px;">
    <div class="container">
        <div class="search_section" style="display: flex; justify-content: space-between;">
            <div style="display : flex; width : 1032px">
                <input id="jobSearchInput"
                    style="width : 100%;padding : 21px; border : 1px solid #324362; font-size : 22px; font-family : Inter; line-height : 26.63px"
                    type="text" placeholder="Type in a job title" />
                <button
                    style="padding : 21px 36px; text-align : center; background-color : #101243; color : white; font-weight : 700; font-family : Inter Display ; font-size : 22px; line-height : 32px">Search</button>
            </div>
            <div class="select_container">
                <label for="sort" class="custom-label">Sort by:</label>
                <select id="sort" class="custom-select">
                    <option value="most-recent">Most Recent</option>
                    <option value="oldest">Oldest</option>
                    <option value="highest-rated">Highest Rated</option>
                    <option value="lowest-rated">Lowest Rated</option>
                </select>
            </div>
        </div>
        <div class="listing_section" style="display: flex; justify-content: space-between; margin-top :53px;">
            <!-- Filter Section -->
            <div class="filter_section" style="width: 300px;">
                <div style="margin-bottom: 60px; display : flex; justify-content : space-between;">
                    <p style="font-size : 28px; font-weight : 700; line-height : 35px; color : #3D4667">Filters</p>
                    <button
                        style="padding: 10px 16px; background-color: #101423; color: white; font-size: 18px; font-weight: 600; border: none; font-family : Inter Display; cursor : pointer">
                        Clear all<span style="margin-left: 8px;">&#10006;</span>
                    </button>
                </div>

                <!-- Department Filter -->
                <div style="margin-bottom: 60px;">
                    <h4
                        style="font-size: 24px; font-weight: 700; margin-bottom: 18px; color : #3D4667B2; font-family : 'Encode Sans Condensed';">
                        Department
                    </h4>
                    <div>
                        <label class="custom-checkbox"
                            style="display: flex; align-items: center; font-size: 20px; margin-bottom: 16px;">
                            <input type="checkbox" checked>
                            <span style="margin-left: 18px;">Human Resources</span>
                        </label>
                        <label class="custom-checkbox" style="display: flex; font-size: 20px; margin-bottom : 16px;">
                            <input type="checkbox" checked>
                            <span style="margin-left: 18px;">Management</span>
                        </label>
                        <label class="custom-checkbox" style="display: flex; font-size: 20px; margin-bottom : 16px;">
                            <input type="checkbox" checked>
                            <span style="margin-left: 18px;">Operation</span>
                        </label>
                        <label class="custom-checkbox" style="display: flex; font-size: 20px; margin-bottom : 16px;">
                            <input type="checkbox" checked>
                            <span style="margin-left: 18px;">Sales</span>
                        </label>
                    </div>
                </div>


                <!-- Employment Type Filter -->
                <div style="margin-bottom: 40px;">
                    <h4
                        style="font-size: 24px; font-weight: 700; margin-bottom: 18px; color : #3D4667B2; font-family : 'Encode Sans Condensed';">
                        Employment Type
                    </h4>
                    <div>
                        <label class="custom-checkbox" style="display: flex; font-size: 20px; margin-bottom : 16px;">
                            <input type="checkbox" checked>
                            <span style="margin-left: 18px;">Full Time</span>
                        </label>
                    </div>
                </div>

                <!-- Location Filter -->
                <div style="margin-bottom: 40px;">
                    <h4
                        style="font-size: 24px; font-weight: 700; margin-bottom: 18px; color : #3D4667B2; font-family : 'Encode Sans Condensed';">
                        Location
                    </h4>
                    <div>
                        <label class="custom-checkbox" style="display: flex; font-size: 20px; margin-bottom : 16px;">
                            <input type="checkbox" checked>
                            <span style="margin-left: 18px;">Riyadh</span>
                        </label>
                    </div>
                </div>
            </div>

            <div id="listings_container"
                style="width: 970px; display: grid; grid-template-columns: repeat(2, 475px); gap: 20px; grid-auto-rows: 127px;">
                <!-- Dynamic Divs will be rendering here -->
            </div>
        </div>
    </div>
</section>
<script>
    {% include "templates/includes/jobs_listings.js" %}
</script>
{% endblock %}