{% extends "templates/auth_base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<section
    style="background-image : linear-gradient(#FFFFFF 25%, #EFE6D2 75%);width: 744px; height: 772px; padding : 80px 72px">
    <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2
            style="font-family: 'Encode Sans Condensed', sans-serif; font-size: 36px; line-height: 45px; color : #3D4667; font-weight: 700">
            Sign In</h2>
        <img src="../assets/iau/images/Auth Logo.png" alt="company_logo" />
    </div>
    <form>
        <div class="form-group" style="margin-top: 37px;">
            <div style="display : flex; flex-direction: column;">
                <label for="email"
                    style="font-family: inter; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Email</label>
                <input type="email" class="form-control" id="email" placeholder="john@gmail" required
                    style="padding : 17px 20px; border : 1px solid #324362; margin-top : 12px; color : black; font-family: inter; font-size: 20px; line-height: 24px;">
            </div>
            <div style="display : flex; flex-direction: column; margin-top : 24px">
                <label for="password"
                    style="font-family: inter; font-size: 20px; line-height: 24px; color : #929292; font-weight: 600">Password</label>
                <input type="password" class="form-control" id="password" required
                    style="padding : 17px 20px; border : 1px solid #324362; margin-top : 12px; color : black; font-family: inter; font-size: 20px; line-height: 24px;">
            </div>
            <div style="display : flex; flex-direction: column; margin-top : 32px">
                <button
                    style="padding : 19px 0px; font-size : 22px; font-weight : 700; background-color: #101423; color: #fff; cursor : pointer">
                    Log in
                </button>
            </div>
            <div class="divider">
                <span>OR</span>
            </div>
            <div style="display : flex; flex-direction: column; margin-top : 24px">
                <button
                    style="padding : 19px 0px; font-size : 22px; font-weight : 700;   background-color: #FFFBF1; border: 1px solid; border-image-slice: 1; border-image: linear-gradient(to bottom, #324362 100%, #324362 0%); color: #101423; cursor : pointer"
                    ;>
                    Log in with E-mail Link
                </button>
            </div>
            <div
                style="color : #101423; font-size : 22px; font-family : Inter; line-height : 32px; margin-top: 32px; display : flex; align-items: center; justify-content: space-between;">
                <div>
                    <a href="/eservice/forgotPassword"
                        style="text-decoration: underline; font-weight : 600; color : #101423;">Forgot Password?</a>
                </div>
                <div>
                    <div>
                        Don`t have an account?<span style="text-decoration: underline; font-weight : 600">
                            Sign up
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</section>
{% endblock %}