{% extends "templates/Base.html" %}

{% block title %}
News Information
{% endblock %}

{% block content %}
<section class="news_info" style="background-color: #FFFBF1;">
    <div class="container" style="padding-top : 100px; padding-bottom: 100px;">
        <div style="display: flex; justify-content: space-between;">
            <div style="width : 49%">
                <h1
                    style="font-family: Encode Sans Condensed; font-size: 40px; font-weight: 700; line-height: 50px; color : #3D4667">
                    Lorem ipsum dolor sit amet</h1>
                <p
                    style="font-family: Inter Display; font-size: 22px; font-weight: 400; line-height: 32px; letter-spacing: -0.02em; color : #8092A7; margin-top : 24px;">
                    Published on July 21, 2024</p>
                <div
                    style="margin-top : 30px; width: 90%; height: 1px; background: linear-gradient(90deg, #93A1BB 0%, rgba(67, 73, 85, 0) 100%);">
                </div>
                <article
                    style="margin-top : 24px; font-family: Inter Display; font-size: 22px; font-weight: 500; line-height: 40px; letter-spacing: -0.02em; text-align: justified; color : #101423">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </article>
            </div>
            <div style="width: 49%;">
                <img src="/assets/iau/images/news banner.png" alt="News" style="width: 100%; height : 435px;" />
            </div>
        </div>
        <div>
            <article style="color : #101423;font-family: Inter Display; font-size: 22px; font-weight: 500; line-height: 40px;
            letter-spacing: -0.02em; text-align: justified; margin-top: 10px;">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit ess.
            </article>
            <article style="color : #101423;font-family: Inter Display; font-size: 22px; font-weight: 500; line-height: 40px;
            letter-spacing: -0.02em; text-align: justified; margin-top: 10px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </article>
            <article style="color : #101423;font-family: Inter Display; font-size: 22px; font-weight: 500; line-height: 40px;
            letter-spacing: -0.02em; text-align: justified; margin-top: 10px;">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?e quam nihil molestiae consequatur, vel illum qui
                dolorem eum fugiat quo voluptas nulla pariatur?
            </article>
        </div>
    </div>
</section>
{% endblock %}