<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="/assets/iau/css/customGlobal.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/qrious/dist/qrious.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style id="dynamic-styles">
        body.ltr {
            direction: ltr;
            text-align: left;
        }

        /* RTL */
        body.rtl {
            direction: rtl;
            text-align: right;
        }

        /* Specific styles for RTL languages */
        body.rtl #nav_items a {
            letter-spacing: 1.25px;
            line-height: 1.5;
        }

        .myBannerSwiper {
            direction: ltr !important;
        }

        /* Default styles */
        ul li a {
            color: black;
            /* Default color */
        }

        .header {
            transition: all 0.3s ease;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-color: white;
        }

        .language-toggle {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
        }

        .toggle-btn {
            font-size: 16px;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.514);
        }

        .toggle-btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body style="width: 100%; height: 100vh;">
    <div class="header">
        <nav class="container">
            <div>
                <img src="/assets/iau/images/Auth Logo.png" alt="company_logo" class="company_logo" />
            </div>
            <div>
                <ul id="nav_items">
                    <li><a href="/eservice/home"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">Home</a>
                    </li>
                    <li><a href="/eservice/home#about_us"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">About</a>
                    </li>
                    <li><a href="/eservice/home#latest_news"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">News</a>
                    </li>
                    <li><a href="/eservice/home#jobs_openings"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">Jobs</a>
                    </li>
                    <li><a href="/eservice/home#services"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">Services</a>
                    </li>
                    <li><a href="/eservice/home#projects"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">Projects</a>
                    </li>
                    <li><a href="/eservice/home#partnerships"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">Partnerships</a>
                    </li>
                    <li><a href="/eservice/home#partners"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">Partners</a>
                    </li>
                    <li><a href="/eservice/home#connect_with_us"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">CONNECT
                            WITH US</a>
                    </li>
                    <li id="nav-item-eservices" style="position: relative;"><a href="/login"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">E-services</a>
                    </li>
                </ul>
            </div>
            <div class="mobile_nav" onclick="toggleMenu()">
                <i class="fas fa-bars"></i>
            </div>
            <div id="mobile_menu" style="display: none;">
                <ul>
                    <li><a href="/eservice/home"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">HOME</a>
                    </li>
                    <li><a href="/eservice/home#about_us"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">ABOUT</a>
                    </li>
                    <li><a href="/eservice/home#latest_news"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">NEWS</a>
                    </li>
                    <li><a href="/eservice/home#jobs_openings"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">JOBS</a>
                    </li>
                    <li><a href="/eservice/home#services"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">SERVICES</a>
                    </li>
                    <li><a href="/eservice/home#projects"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">PROJECTS</a>
                    </li>
                    <li><a href="/eservice/home#partnerships"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">PARTNERSHIPS</a>
                    </li>
                    <li><a href="/eservice/home#partners"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">PARTNERS</a>
                    </li>
                    <li>
                        <a href="/eservice/home#connect_with_us"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">
                            CONNECT WITH US
                        </a>
                    </li>
                    <li><a href="/login"
                            style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase;">E-SERVICES</a>
                    </li>
                </ul>
            </div>
    </div>

    {% block content %}
    <!-- Default content -->
    {% endblock %}

    <div class="footer" id="connect_with_us"
        style="background-image: linear-gradient(180deg, #2B354E 0%, #101423 100%); height : auto;">
        <div class="container" style="padding-top: 62px; padding-bottom : 62px;">
            <div class="divider">
                <span id="connect_with_us_heading"
                    style="text-transform: uppercase; font-size: 40px; font-weight : bold; font-family: 'Encode Sans Condensed'; color : white; margin : 0px 15px;">
                    CONNECT WITH US</span>
            </div>
            <div
                style="margin-top : 40px; display: grid; grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)); gap: 30px;">
                <div
                    style="height : 101px; display: flex; align-items : center; padding : 11px;background: linear-gradient(180deg, #FFFFFF 0%, #EFE6D2 100%); gap: 35px">
                    <div
                        style="background: linear-gradient(180deg, #5C6B8F 0%, #1E2439 100%); width : 79px; height : 79px; display : flex; justify-content: center; align-items: center;">
                        <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2.28772 1.23118C3.6088 -0.0892547 7.6026 -0.309897 7.63261 0.389079C7.66261 1.08694 11.2293 8.83192 11.2601 9.53107C11.2911 10.2298 8.90916 12.61 8.21249 13.3067C7.52185 13.9963 12.8729 20.0409 12.9742 20.1551C13.088 20.2573 19.1357 25.6048 19.8263 24.9141C20.5232 24.2175 22.906 21.8373 23.6027 21.8683C24.3014 21.8982 32.0521 25.4626 32.751 25.4946C33.4497 25.5245 33.2296 29.5146 31.9084 30.836C30.7784 31.9647 24.9282 36.0629 14.7555 28.7445C13.64 28.1033 11.8733 26.6324 9.19378 23.9556C9.19286 23.9547 9.19078 23.9526 9.1887 23.9514C9.18663 23.9485 9.18455 23.9473 9.18247 23.9452C9.18039 23.9432 9.17832 23.9411 9.17624 23.939C9.17532 23.9369 9.17324 23.9349 9.17209 23.934C6.49459 21.256 5.02233 19.4892 4.38037 18.375C-2.94193 8.2075 1.15897 2.35983 2.28782 1.23129L2.28772 1.23118Z"
                                fill="white" />
                        </svg>
                    </div>
                    <p
                        style="font-family: 'Encode Sans Condensed'; font-size : 28px; color : #101423; font-weight : 700; line-height : 35px">
                        013 333 5024</p>
                </div>
                <div
                    style="height : 101px; display: flex; align-items : center; padding : 11px;background: linear-gradient(180deg, #FFFFFF 0%, #EFE6D2 100%); gap: 35px">
                    <div
                        style="background: linear-gradient(180deg, #5C6B8F 0%, #1E2439 100%); width : 79px; height : 79px; display : flex; justify-content: center; align-items: center;">
                        <svg width="38" height="21" viewBox="0 0 38 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.34082 0L18.8998 13.6111L36.4588 0H1.34082ZM0.390625 1.41736V19.845L11.4909 10.0274L0.390625 1.41736ZM37.4099 1.41736L26.3096 10.0274L37.4099 19.845V1.41736ZM12.8681 11.0909L1.6852 21H36.1153L24.9324 11.0909L19.4513 15.3434H19.4516C19.1294 15.5892 18.672 15.5892 18.3498 15.3434L12.8687 11.0909H12.8681Z"
                                fill="white" />
                        </svg>
                    </div>
                    <p
                        style="font-family: 'Encode Sans Condensed'; font-size : 28px; color : #101423; font-weight : 700; line-height : 35px">
                        ics@iau.edu.sa</p>
                </div>
                <div
                    style="height : 101px; display: flex; align-items : center; padding : 11px;background: linear-gradient(180deg, #FFFFFF 0%, #EFE6D2 100%); gap: 35px">
                    <div
                        style="background: linear-gradient(180deg, #5C6B8F 0%, #1E2439 100%); width : 79px; height : 79px; display : flex; justify-content: center; align-items: center;">
                        <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_288_537)">
                                <path
                                    d="M19.72 13.5513L31.6409 0H28.817L18.4617 11.764L10.1972 0H0.662598L13.163 17.791L0.662598 31.9999H3.48647L14.4148 19.574L23.1447 31.9999H32.6793M4.50566 2.08252H8.84392L28.8149 30.0197H24.4755"
                                    fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_288_537">
                                    <rect width="32.0167" height="32" fill="white" transform="translate(0.662598)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <p
                        style="font-family: 'Encode Sans Condensed'; font-size : 28px; color : #101423; font-weight : 700; line-height : 35px">
                        @iau_icss</p>
                </div>
            </div>
            <div
                style="margin-top : 120px; display: grid; grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); gap: 30px">
                <div>
                    <a href="/eservice/home" style="text-decoration: none;">
                        <p
                            style="text-decoration: underline; font-size : 22px; font-weight: 700; color : white; font-family : Inter Display;">
                            Homepage</p>
                    </a>
                </div>
                <div>
                    <p class="footer-copyright"
                        style="font-size : 20px; font-family : Inter Display; font-weight : 400; color : white">
                        © 2024 Imam Abdulrahman Bin Faisal University.
                    </p>
                    <p class="footer-copyright"
                        style="font-size : 20px; font-family : Inter Display; font-weight : 400; color : white">
                        All rights reserved.
                    </p>
                </div>
                <div>
                    <p class="footer-implementation"
                        style="font-size : 22px; font-weight: 400; color : white; font-family : Inter Display;">
                        Implemented by Makwiz Technologies</p>
                </div>
            </div>
        </div>
    </div>
    <div id="language-toggle" class="language-toggle">
        <button id="toggle-btn" class="toggle-btn">عربي</button>
        <!-- Hidden select element to simulate language change -->
        <select id="language-selector" style="display:none;">
            <option value="en">English</option>
            <option value="ar">عربي</option>
        </select>
    </div>
    <script>
        // Toggle menu
        function toggleMenu() {
            var menu = document.getElementById("mobile_menu");
            if (menu.style.display === "none" || menu.style.display === "") {
                menu.style.display = "block";
            } else {
                menu.style.display = "none";
            }
        }
        // Add sticky Header
        window.onscroll = function () { stickyHeader() };

        const header = document.querySelector('.header');

        function stickyHeader() {
            if (window.scrollY > 150) {
                header.classList.add('sticky');
            } else if (window.scrollY < 150) {
                header.classList.remove('sticky');
            }
        }
        // Async function to check if the User is logged in and get their avatar
        async function getUserAvatar() {
            try {
                // Getting the logged-in user's ID
                const response = await fetch('/api/method/frappe.auth.get_logged_user', {
                    method: 'GET',
                });

                if (!response.ok) {
                    throw new Error('User is not logged in or session has expired.');
                }

                const { message: userId } = await response.json(); // Extract the user ID

                // Getting the user's details using their ID
                const userDetailsResponse = await fetch(`/api/resource/User/${userId}`, {
                    method: 'GET',
                });

                if (!userDetailsResponse.ok) {
                    throw new Error('Failed to fetch user details.');
                }

                const { data: userDetails } = await userDetailsResponse.json(); // Extract user details

                // Access the user's avatar and name
                const userImage = userDetails.user_image;
                const userName = userDetails.full_name;

                // Replace the "E-services" link with the user's avatar and dropdown menu
                const navItemEservices = document.getElementById('nav-item-eservices');
                navItemEservices.innerHTML = `
                    <a href="#" id="user-menu-toggle" style="text-decoration: none; font-family: 'Encode Sans Condensed'; text-transform: uppercase; display: flex; align-items: center;">
                        <img src="${userImage}" alt="User Avatar" id="user-avatar" style="width: 40px; height: 40px; border-radius: 50%; border: 1px solid #101423; margin-right: 10px;">
                    </a>
                    <div id="dropdown-menu" style="display: none; position: absolute; top: 100%; right: 0; background-color: #fff; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1000; width: 200px; background-color: #EFE6D2;">
                        <a href="/eservice/profile" style="display: block; padding: 12px 16px; text-decoration: none; color: #000; font-family: 'Encode Sans Condensed'; font-size: 16px; font-weight : bold;">Profile</a>
                        <a href="#" id="logout-link" style="display: block; padding: 12px 16px; text-decoration: none; color: #000; font-family: 'Encode Sans Condensed'; font-size: 16px; font-weight : bold;">Logout</a>
                    </div>
                `;

                // Add event listener for the dropdown toggle
                document.getElementById('user-menu-toggle').addEventListener('click', (event) => {
                    event.preventDefault();
                    const dropdownMenu = document.getElementById('dropdown-menu');
                    dropdownMenu.style.display = (dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '') ? 'block' : 'none';
                });

                // Logout Link
                document.getElementById('logout-link').addEventListener('click', async (event) => {
                    event.preventDefault();
                    try {
                        const logoutResponse = await fetch('/api/method/logout');
                        if (logoutResponse.ok) {
                            window.location.href = '/eservice/home';
                        } else {
                            throw new Error('Logout failed.');
                        }
                    } catch (error) {
                        console.error('Error:', error.message);
                    }
                });

                // Close dropdown when clicking outside of it
                document.addEventListener('click', (event) => {
                    const dropdownMenu = document.getElementById('dropdown-menu');
                    if (!event.target.closest('#nav-item-eservices')) {
                        dropdownMenu.style.display = 'none';
                    }
                });

            } catch (error) {
                console.error('Error:', error.message);
            }
        }

        // Call the function to get the user's avatar
        getUserAvatar();

        function applyTranslations(translations) {
            // Function to apply translations to text content
            function translateElement(element, key) {
                if (element && key in translations) {
                    // Set the element's HTML content to the translated value
                    element.innerHTML = translations[key];
                }
            }

            // Select all <a> elements within the #nav_items <ul>
            const navItems = document.querySelectorAll('#nav_items a');

            // select all <a> elements within the #mobile_menu <ul>
            const mobileMenuItems = document.querySelectorAll('#mobile_menu a');

            // Select the element containing the About Us article
            const aboutUsHeading = document.querySelector('.about-us-heading');

            // Select the element for the latest news
            const latestNewsEle = document.querySelector('.latest_news');

            // Select the element for the all news button
            const allNewsEle = document.querySelector('.all_news_button');

            // Select the element for recent job openings
            const recentJobOpeningsEle = document.querySelector('.recent_job_openings');

            // Select the About Us paragraphs (with the keys "ABOUT US PARA1" and "ABOUT US PARA2")
            const aboutUsPara1 = document.querySelector('.about_us_para1');
            const aboutUsPara2 = document.querySelector('.about_us_para2');

            // Select the elements for Our Vision Heading and Description
            const ourVisionHeading = document.querySelector('#our_vision_heading');
            const ourVisionDescription = document.querySelector('#our_vision_desc');

            // Select the elements for Our Message Heading and Description
            const ourMessageHeading = document.querySelector('#our_message_heading');
            const ourMessageDescription = document.querySelector('#our_message_desc');

            // Select the elements for All Jobs Button
            const allJobsButton = document.querySelector('#all_jobs_button');

            // Select the Partnerships Heading
            const partnerships_heading_ele = document.querySelector('#partnerships_heading');

            // Select the Outside the University Heading
            const outside_university_heading_ele = document.querySelector('#outside_university_heading');
            const within_university_heading_ele = document.querySelector('#within_university_heading');
            const partner_heading_ele = document.querySelector('#partner_heading');
            const projects_heading_ele = document.querySelector('#projects_heading');
            const services_heading_ele = document.querySelector('#services_heading');
            const data_management_text_ele = document.querySelector('#data_management_text');
            const financial_strategic_ele = document.querySelector('#financial_strategic');
            const business_management_ele = document.querySelector('#business_management');
            const maintainance_operation_ele = document.querySelector('#maintainance_operation');
            const information_technology_ele = document.querySelector('#information_technology');
            const technical_consulting_ele = document.querySelector('#technical_consulting');
            const marketing_consulting_ele = document.querySelector('#marketing_consulting');
            const medical_consulting_ele = document.querySelector('#medical_consulting');
            const cybersecurity_services_ele = document.querySelector('#cybersecurity_services');
            const vision_realization_ele = document.querySelector('#vision_realization');
            const project_management_ele = document.querySelector('#project_management');
            const legal_advice_ele = document.querySelector('#legal_advice');
            const call_centers_ele = document.querySelector('#call_centers');
            const suuport_services_ele = document.querySelector('#suuport_services');
            const logistics_services_ele = document.querySelector('#logistics_services');
            const training_ele = document.querySelector('#training');
            const connect_with_us_heading_ele = document.querySelector('#connect_with_us_heading');

            // Apply translations to each navigation link
            navItems.forEach(link => {
                const text = link.innerText.trim();
                if (text in translations) {
                    link.innerText = translations[text];
                }
            });

            mobileMenuItems.forEach(link => {
                const text = link.textContent.trim();
                if (text in translations) {
                    link.innerText = translations[text];
                }
            });

            // Apply translations to other elements
            translateElement(aboutUsHeading, 'ABOUT US');  // Key is 'ABOUT US' in translations
            translateElement(latestNewsEle, 'LATEST NEWS');  // Key is 'LATEST NEWS'
            translateElement(allNewsEle, 'ALL NEWS');  // Key is 'ALL NEWS'
            translateElement(recentJobOpeningsEle, 'RECENT JOB OPENINGS');  // Key is 'RECENT JOB OPENINGS'
            translateElement(aboutUsPara1, 'ABOUT US PARA1');  // Key is 'ABOUT US PARA1'
            translateElement(aboutUsPara2, 'ABOUT US PARA2');  // Key is 'ABOUT US PARA2'
            translateElement(ourVisionHeading, 'OUR VISION');  // Key is 'Our Vision'
            translateElement(ourVisionDescription, 'OUR VISION DESC');  // Key is 'Our Vision Desc'
            translateElement(ourMessageHeading, 'OUR MESSAGE');  // Key is 'Our Message'
            translateElement(ourMessageDescription, 'OUR MESSAGE DESC');  // Key is 'Our Message Desc'
            translateElement(allJobsButton, "ALL JOBS"); // Key is 'ALL JOBS'
            translateElement(partnerships_heading_ele, 'PARTNERSHIPS');  // Key is 'Partnerships'
            translateElement(outside_university_heading_ele, 'OUTSIDE THE UNIVERSITY');  // Key is 'Outside University'
            translateElement(within_university_heading_ele, 'WITHIN THE UNIVERSITY');  // Key is 'Within University'
            translateElement(partner_heading_ele, "PARTNERS"); // Key is 'Partners"
            translateElement(projects_heading_ele, 'PROJECTS');  // Key is 'Projects'
            translateElement(services_heading_ele, 'SERVICES'); // Key is 'Services'
            translateElement(data_management_text_ele, 'DATA MANAGEMENT'); // Key is 'DATA MANAGEMENT'
            translateElement(financial_strategic_ele, 'FINANCIAL STRATEGIC'); // Key is 'FINANCIAL STRATEGIC'
            translateElement(business_management_ele, 'BUSINESS MANAGEMENT'); // Key is 'BUSINESS MANAGEMENT'
            translateElement(maintainance_operation_ele, 'MAINTAINANCE OPERATION'); // Key is 'MAINTAINANCE OPERATION'
            translateElement(information_technology_ele, 'INFORMATION TECHNOLOGY'); // Key is 'INFORMATION TECHNOLOGY'
            translateElement(technical_consulting_ele, 'TECHNICAL CONSULTING'); // Key is 'TECHNICAL CONSULTING'
            translateElement(marketing_consulting_ele, 'MARKETING CONSULTING'); // Key is 'MARKETING CONSULTING'
            translateElement(medical_consulting_ele, 'MEDICAL CONSULTING'); // Key is 'MEDICAL CONSULTING'
            translateElement(cybersecurity_services_ele, 'CYBERSECURITY'); // Key is 'CYBERSECURITY'
            translateElement(vision_realization_ele, 'VISION RELALIZATION'); // Key is 'VISION RELALIZATION'
            translateElement(project_management_ele, 'PROJECT MANAGEMENT'); // Key is 'PROJECT MANAGEMENT'
            translateElement(legal_advice_ele, 'LEGAL ADVICE'); // Key is 'LEGAL ADVICE'
            translateElement(call_centers_ele, 'CALL CENTERS'); // Key is 'CALL CENTERS'
            translateElement(suuport_services_ele, 'SUPPORT SERVICES'); // Key is 'SUPPORT SERVICES'
            translateElement(logistics_services_ele, 'LOGISTICS'); // Key is 'LOGISTICS'
            translateElement(training_ele, 'TRAINGING'); // Key is 'TRAINGING'
            translateElement(connect_with_us_heading_ele, 'CONNECT WITH US');  // Key is 'CONNECT WITH US'
        }


        function setLanguage(language_code) {
            // Save the selected language in cookies
            document.cookie = `preferred_language=${language_code}; path=/`;

            // Update the text direction based on the language
            const body = document.body;
            if (language_code === 'ar') {
                body.classList.add('rtl');
                body.classList.remove('ltr');
            } else {
                body.classList.add('ltr');
                body.classList.remove('rtl');
            }

            // Reload the page to apply the selected language
            location.reload();
        }

        function getPreferredLanguage() {
            // Get the saved language from cookies
            const cookieValue = document.cookie
                .split('; ')
                .find(row => row.trim().startsWith('preferred_language='))
                ?.split('=')[1];

            return cookieValue || 'en';  // Default to English if no language is set
        }

        function loadTranslations(language) {
            // Fetch translations based on the selected language
            fetch(`/api/method/iau.custom_api.get_translations?lang=${language}`)
                .then(response => response.json())
                .then(data => {
                    applyTranslations(data.message);
                })
                .catch(error => console.error('Error loading translations:', error));
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Retrieve the preferred language from cookies or default to 'en'
            const selectedLanguage = getPreferredLanguage();
            loadTranslations(selectedLanguage);

            // Set up language toggle button
            const toggleButton = document.getElementById('toggle-btn');
            if (toggleButton) {
                // Update the button text based on the current language
                toggleButton.textContent = selectedLanguage === 'ar' ? 'English' : 'العربية';

                // Add event listener for the language toggle button
                toggleButton.addEventListener('click', function () {
                    const currentLang = getPreferredLanguage();
                    const newLang = currentLang === 'en' ? 'ar' : 'en';
                    setLanguage(newLang);

                    // Update the button text after changing the language
                    toggleButton.textContent = newLang === 'ar' ? 'English' : 'العربية';
                });
            }

            // Update text direction based on the preferred language
            const body = document.body;
            if (selectedLanguage === 'ar') {
                body.classList.add('rtl');
                body.classList.remove('ltr');
            } else {
                body.classList.add('ltr');
                body.classList.remove('rtl');
            }
        });

    </script>
</body>

</html>